.statusBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusText {
    align-content: center;
    flex-grow: 4;
}

.log {
    position: relative;
    width: 720px;
    height: 100px;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: monospace, monospace;
    font-weight:  bold;
    white-space: pre;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);;
}

.log > div {
    position: absolute;
    bottom: 20px;
}

.loader {
    width: auto !important;
}
